#
# Performs CI tests upon pull request
#
language: python
python:
  - "2.7"

sudo: false
cache:
  directories:
    - "~/.platformio"

install:
  - pip install -U platformio
  - platformio update

script:
  pio test -e native; # Should be platformio test
  pio run
